# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/

# Selenium drivers
*.log

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/

# NVDA logs and configs
nvda.log
nvda.ini 